name: Run Rest Assured Test Cases

on:
  push:
    branches: ["master"]


jobs:
  test:
    runs-on: windows-2022
    steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-java@v3
       with:
         java-version: "11"
         cache: maven
     - run: mvn clean test
